<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wecode.animaltracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme"
        android:name="com.orm.SugarApp" >

        <meta-data android:name="DATABASE" android:value="sugar_db_beta3.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.wecode.animaltracker.model" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.detail.TransectDetailActivity"
            android:label="@string/title_activity_transect_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.detail.WeatherDetailActivity"
            android:label="@string/title_activity_weather"
            android:parentActivityName=".activity.detail.TransectDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.detail.HabitatDetailActivity"
            android:label="@string/title_activity_habitat_detail"
            android:parentActivityName=".activity.detail.TransectDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.detail.TransectFindingDetailActivity"
            android:label="@string/title_activity_finding_detail"
            android:parentActivityName=".activity.detail.TransectDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.list.PhotosList"
            android:label="@string/title_activity_photos_list"
            android:parentActivityName=".activity.detail.TransectDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.list.TransectFindingsList"
            android:label="@string/title_activity_findings_list"
            android:parentActivityName=".activity.detail.TransectDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.list.TransectsList"
            android:label="@string/title_activity_transects_list"
            android:parentActivityName=".activity.detail.TransectDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.list.TransectFindingSamplesList"
            android:label="@string/samples"
            android:parentActivityName=".activity.detail.TransectDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity android:name=".activity.TransectFindingAddSampleActivity"></activity>
    </application>

</manifest>