<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wecode.animaltracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LcsiWildLifeTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wecode.animaltracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.detail.TransectDetailActivity"
            android:label="@string/title_activity_transect_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.detail.WeatherDetailActivity"
            android:label="@string/title_activity_weather"
            android:parentActivityName=".activity.detail.TransectDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.detail.HabitatDetailActivity"
            android:label="@string/title_activity_habitat_detail"
            android:parentActivityName=".activity.detail.TransectDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.detail.TransectFindingSiteDetailActivity"
            android:label="@string/title_activity_finding_site"
            android:parentActivityName=".activity.detail.TransectDetailActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.list.PhotosList"
            android:label="@string/title_activity_photos_list"
            android:parentActivityName=".activity.detail.TransectDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.list.TransectFindingsList"
            android:label="@string/title_activity_finding_sites"
            android:parentActivityName=".activity.detail.TransectDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".activity.list.TransectsList"
            android:label="@string/title_activity_transects_list"
            android:parentActivityName=".activity.detail.TransectDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>
        <activity
            android:name=".fragment.list.TransectFindingSamplesListFragment"
            android:label="@string/samples"
            android:parentActivityName=".activity.detail.TransectDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectDetailActivity" />
        </activity>

        <activity android:name=".activity.detail.TransectFindingAddSampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".activity.location.EditLocationDMSFormatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".activity.location.EditLocationDecimalFormatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".activity.detail.findings.TransectFindingFecesDetailActivity"
            android:label="@string/feces_finding_detail"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activity.detail.TransectFindingSiteDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectFindingSiteDetailActivity" />
        </activity>

        <activity android:name=".activity.detail.findings.TransectFindingFootprintsDetailActivity"
            android:label="@string/footprints_finding_detail"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activity.detail.TransectFindingSiteDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectFindingSiteDetailActivity" />
        </activity>

        <activity android:name=".activity.detail.findings.TransectFindingOtherDetailActivity"
            android:label="@string/other_finding_detail"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activity.detail.TransectFindingSiteDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.detail.TransectFindingSiteDetailActivity" />
        </activity>

        <activity android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity android:name=".activity.PrivacyPolicyActivity"
            android:label="@string/privacyPolicyLabel"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activity.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />

        </activity>

    </application>

</manifest>